<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
</head>
<body>

    <h2>ВХОД</h2>

    <form id="loginForm">
        <label for="username">Логин:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="button" onclick="login()">Вход</button>
    </form>

     <p>Еще нет аккаунта? <button onclick="goToRegistration()">Регистрация</button></p>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const userRole = getCookie('userRole');

            switch (userRole) {
                case 'admin':
                    window.location.href = 'http://localhost:5264/Manage';
                    break;
                case 'user':
                    window.location.href = 'http://localhost:5264/Shop/GetProducts';
                    break;
            }
        });

        function getCookie(name) {
            var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
            if (match) return match[2];
        }

        function login() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;

            var data = {
                "username": username,
                "password": password
            };

            fetch('http://localhost:5264/Auth/Login', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => response.text())
    .then(result => {
        if (result === "[\"admin\"]") {
            setCookie('userRole', 'admin');
            setCookie('name', username);
            window.location.href = 'http://localhost:5264/Manage';
        } else if (result === "[]") {
            setCookie('userRole', 'user');
            setCookie('name', username);
            window.location.href = 'http://localhost:5264/Shop/GetProducts';
        } else {
            setCookie('userRole', 'Unauth');
            alert('Неверный логин или пароль');
        }
    })
            .catch(error => {
                console.error('Ошибка:', error);
            });
        }

        function goToRegistration() {
            window.location.href = 'http://localhost:5264/Auth/Register'; 
        }

        function setCookie(name, value) {
            document.cookie = name + '=' + value + '; path=/';
        }
    </script>

</body>
</html>
