<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>

    <h2>РЕГИСТРАЦИЯ</h2>

    <form id="registerForm">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="button" onclick="register()">Зарегистрироваться</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const userRole = getCookie('userRole');

            switch (userRole) {
                case 'admin':
                    window.location.href = 'http://localhost:5264/Manage';
                    break;
                case 'user':
                    window.location.href = 'http://localhost:5264/Shop/GetProducts';
                    break;
            }
        });

        function getCookie(name) {
            var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
            if (match) return match[2];
        }

        function register() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;

            var data = {
                "username": username,
                "password": password
            };

            fetch('http://localhost:5264/Auth/Register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (response.status === 202) {
                    window.location.href = 'http://localhost:5264/Auth/Login';
                } else {
                    alert('Ошибка регистрации. Пожалуйста, попробуйте другие учетные данные.');
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
            });
        }
    </script>

</body>
</html>
