<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StationeryStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StationeryStore.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            // Проверяем значение куки userRole
                            var userRole = getCookie('userRole');

                            // Создаем Header
                            var header = document.querySelector('.container-fluid');


                            // Добавляем кнопки в зависимости от значения куки userRole
                            if (userRole === 'admin') {
                                createButton(header, 'Управление', 'http://localhost:5264/Manage', 'left');
                                createButton(header, 'Выход', 'http://localhost:5264/Auth/Logout', 'right', handleLogout);
                            } else if (userRole === 'user') {
                                createButton(header, 'Каталог', 'http://localhost:5264/Shop/GetProducts', 'left');
                                createButton(header, 'Корзина', 'http://localhost:5264/Shop/Cart', 'left');
                                createButton(header, 'Выход', 'http://localhost:5264/Auth/Logout', 'right', handleLogout);
                            }

                            function createButton(parent, text, link, position, clickHandler) {
                                var button = document.createElement('button');
                                button.innerText = text;
                                button.addEventListener('click', function () {
                                    window.location.href = link;
                                });

                                if (position === 'left') {
                                    parent.insertBefore(button, parent.firstChild);
                                } else if (position === 'right') {
                                    parent.appendChild(button);
                                }

                                if (clickHandler) {
                                    button.addEventListener('click', clickHandler);
                                }
                            }

                            function handleLogout() {
                                fetch('http://localhost:5264/Auth/Logout', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                        },
                                    })
                                document.cookie = 'userRole=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
                                document.cookie = 'name=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
                                window.location.href = 'http://localhost:5264/Auth/Login';
                            }

                            function getCookie(name) {
                                var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
                                if (match) return match[2];
                            }
                        });
                    </script>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


<script>
function getCookie(name) {
    var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
    if (match) return match[2];
}

</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
