@model List<CartProductViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>Корзина</title>
</head>
<body>

    <h2>Корзина</h2>

    <ul>
        @foreach (var cartProduct in Model)
        {
            <li>
                <p><strong>Имя товара:</strong> @cartProduct.Product.Name</p>
                <p><strong>Цена:</strong> @cartProduct.Product.Cost</p>
                <p><strong>Количество:</strong> @cartProduct.Count</p>
                @* <button type="button" onclick="deleteFromCart(@cartProduct)">Удалить</button>  *@
            </li>
        }
    </ul>

</body>
</html>
